.logo {
  color: #00b4d8;
  font-size: 3em;
  margin-bottom: 0.3em;
}

.credenciais {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.ou {
  display: flex;
  width: 100%;
  margin-top: 0.8em;
  align-items: center;
  column-gap: 0.5em;
}

.ou span {
  flex: 1;
  height: 1px;
  background-color: #000;
}

/* @media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
} */
