.blocos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 60vw;
  flex-grow: 1;
  column-gap: 1em;
}

.termos {
  display: flex;
  flex-direction: column;
  max-height: 72vh;
  align-items: center;
  padding: 1em;
  border: 3px solid #e0e0e0;
  border-radius: 1em;
}

.termos ul {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  text-align: justify;
  hyphens: auto;
  row-gap: 0.5em;
  list-style-type: none;
  padding: 1em;
  background-color: #f0f0f0;
}

.blocoCadastro {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 0.5em;
  padding: 1em;
  font-weight: bold;
  color: #444;
  border: 3px solid #e0e0e0;
  border-radius: 1em;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-height: 76vh;
  overflow-y: auto;
}

.botoes {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .blocos {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1em;
  }

  .termos {
    max-height: 40vh;
    width: 80vw;
  }

  .formulario {
    max-height: fit-content;
    width: 90vw;
  }

  .blocoCadastro {
    align-self: center;
    width: 80vw;
  }
}
