.page {
  /* Fundo da página*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  background-image: radial-gradient(#00b4d8, #03045e);
}

.page h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
}

.page h3 {
  margin-left: -1em;
}

.page ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: justify;
  hyphens: auto;
  margin-left: -0.5em;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  background-color: #f0f0f0;
}
.page ol {
  margin-top: -0.5em;
  padding-bottom: 0;
}

.nomeApp {
  /* Nome do app */
  color: #00b4d8;
}

.saudacao {
  /* Título */
  grid-area: titulo;
  display: flex;
  gap: 0.4em;
  justify-self: center;
}

.instrucoes {
  /* Quadro de instruções com título */
  grid-area: termos;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.blocoInstrucoes {
  /* Lista de instruções */
  max-width: 20vw;
  height: 60vh;
  overflow: auto;
}

.terms {
  /* Quadro branco */
  display: grid;
  grid-template-areas:
    "titulo titulo titulo titulo"
    "termos pessoa pessoa pessoa"
    "termos empresa empresa empresa"
    "botoes botoes botoes botoes";
  width: 90vw;
  height: 80vh;
  row-gap: 0.5em;
  padding: 1.2em;
  box-shadow: 0.3em 0.5em 1em #000;
  border-radius: 1em;
  background-color: #fff;
}

.pessoa form {
  grid-area: pessoa;
}
