body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(#00b4d8, #03045e);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  width: 100%;
}

form label {
  display: flex;
  flex-direction: column;
}

span {
  font-weight: bold;
  color: #444;
}

input,
select {
  font-size: 1em;
  border-radius: 0.3em;
}

button {
  width: fit-content;
  padding: 0.8em;
  margin: 1em;
  text-transform: uppercase;
  color: #fff;
  background-color: #1976d2;
  border: none;
  border-radius: 0.5em;
  align-self: center;
}

button:hover {
  background-color: #1565c0;
  cursor: pointer;
}
/* Componentes principais */
.blocoPrincipal {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0.3em 0.5em 1em #000;
  border-radius: 1em;
}

.listaCards {
  padding: 0 1em 0.2em;
  overflow-y: auto;
}

.card {
  display: flex;
  gap: 1em;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  box-shadow: 0.1em 0.1em 0.2em #999;
}

.card:hover {
  color: #fff;
  background-color: #0077b6;
  cursor: pointer;
}

.letra {
  width: fit-content;
  height: fit-content;
  color: #fff;
  background-color: #0077b6;
  font-size: 2.5em;
  padding: 0 0.3em;
  align-self: center;
  border-radius: 100%;
  font-family: monospace;
}

/* Smartphones */
@media only screen and (max-width: 600px) {
  .blocoPrincipal {
    width: 95vw;
    height: 98vh;
  }

  .listaCards {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}

/* Tablets */
@media only screen and (min-width: 601px) {
  .blocoPrincipal {
    width: 98vw;
    height: 98vh;
  }

  .listaCards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
  }
}

/* iPad Pro */
@media only screen and (min-width: 1024px) {
  .listaCards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
  }
}

/* PC */
@media only screen and (min-width: 1200px) {
  .blocoPrincipal {
    width: 98vw;
    height: 95vh;
  }

  .listaCards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em;
  }
}
